<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/user.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-paginator.js"></script>
    <script>
        $(function () {
            /**
             * 机构管理页 分页按钮加载
             */
            //获取分页容器
            var element = $(".pagination");
            //配置分页插件的页码参数
            var options = {
                //必写项：bootstrap的版本要求，即便没有引入bootstrap
                bootstrapMajorVersion:3,
                //设置当前页 服务器端动态获取
                currentPage:$("#pageNumber").text() ,
                //设置分页页码的最大显示数
                numberOfPages: 5,
                //设置总页数 服务器端动态获取
                totalPages:$("#pageTotal").text(),
                itemTexts:function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                },
                //点击事件
                onPageClicked: function (event, originalEvent, type, page) {
                    var curPage=Number(page);
                    window.location.href="/usermanager?page="+curPage;
                }
            }
            //通过分页容器调用分页插件生成分页页码
            element.bootstrapPaginator(options);

            /**
             * 用户管理页 批量删除全选按钮点击处理
             */
            $("#selectall").on("click",function () {
                if($(this).is(':checked')){
                    $("table.user").find("input.checkbox").attr("checked",true);
                }else {
                    $("table.user").find("input.checkbox").attr("checked",false);
                }
            });

            /**
             * 用户信息的删除按钮点击处理
             */
            $(".user_del").on("click",function () {
                //获取该数据行的ID
                var userId=$(this).parents("tr").attr("title");
                //获取需要删除的用户信息
                var user=$(this).parents("tr");

                if(confirm('您确定要删除该信息吗?')){
                    $.ajax({
                        type:"post",
                        url:"/deleteUser",
                        data:{userId:userId},
                        dataType:"json",
                        success:function (e) {
                            var result=JSON.parse(e).result;
                            alert(result);
                            user.remove();
                        },
                        error:function (e) {
                            alert(e);
                        }
                    });
                }
            });

            /**
             * 更新按钮
             */
            $(".userUp").on("click",function () {
                var userId=$(this).parents("tr").attr("title");
                window.location.href="/editUser?userId="+userId;
            });
        });
    </script>
</head>
<body>
    <div class="sys_contnt">
        <div class="sys_content_left">
            <ul>
                <li class="sys_content_left_l1"><a href="/usermanager" id="groupmanager">用户管理</a></li>
                <li ><a id="useradd" href="/adduser">用户添加</a></li>
            </ul>
        </div>
        <div class="sys_content_right" >
            <div class="sys_user">
                <h1 class="fleft">用户管理</h1>
                <form action="/searchuser" method="post">
                    <input type="submit" class="s_sub" value="搜 索"/>
                    <input type="text" class="search" name="searchcontent" placeholder="请输入用户名或真实姓名"/>
                </form>

                <table cellpadding="0" border="0" cellspacing="0" class="user clear">
                    <tr class="first">
                        <td width="5%"></td>
                        <td width="8%">用户名</td>
                        <td width="10%">密码</td>
                        <td width="5%">登录ip</td>
                        <td width="10%">用户编码</td>
                        <td width="40%">用户描述</td>
                        <td width="10%">最后登录时间</td>
                        <td width="10%">操作</td>
                    </tr>
                    <%for(var i=0;i<userList.length;i++){%>
                          <%if(i%2==0){%>
                            <tr title="<%=userList[i].Auto%>">
                                <td><input type="checkbox" class="checkbox" title="" /></td>
                                <td width="5%"><%=userList[i].userName%></td>
                                <td width="5%"><%=userList[i].passWord%></td>
                                <td width="8%"><%=userList[i].loginIp%></td>
                                <td width="10%"><%=userList[i].userCode%></td>
                                <td width="10%"><%=userList[i].description%></td>
                                <td width="40%"><%=sd.format(userList[i].loginTime,'YYYY年MM月DD日')%></td>
                                <td>
                                    <ul class="user_table_edit w84">
                                        <li><input type="button" class="user_pwd userUp"></li>
                                        <li><input type="button" class="user_del"></li>
                                    </ul>
                                </td>
                            </tr>
                          <%}else {%>
                                <tr class="double" title="<%=userList[i].Auto%>">
                                    <td><input type="checkbox" class="checkbox" title="" /></td>
                                    <td width="5%"><%=userList[i].userName%></td>
                                    <td width="5%"><%=userList[i].passWord%></td>
                                    <td width="8%"><%=userList[i].loginIp%></td>
                                    <td width="10%"><%=userList[i].userCode%></td>
                                    <td width="10%"><%=userList[i].description%></td>
                                    <td width="40%"><%=sd.format(userList[i].loginTime,'YYYY年MM月DD日')%></td>
                                    <td>
                                        <ul class="user_table_edit w84">
                                            <li><input type="button" class="user_pwd userUp"></li>
                                            <li><input type="button" class="user_del"></li>
                                        </ul>
                                    </td>
                                </tr>
                          <%}%>
                    <%}%>
                </table>
                <div class="div_page2">
                    <span class="w5"><input type="checkbox" class="check_all" id="selectall"/></span>
                    <span><a href="##" class="btn_del" id="batchdel">删 除</a></span>
                </div>

                <div class="pagesBtn">
                    <ul class="pagination">
                    </ul>
                </div>
                <!--
                    隐藏域
                    记录后台响应给客户端的当前页和总页
                    以便于分页插件的调用
                -->
                <div id="paginationParam" style="display: none">
                    <span id="pageNumber"><%=pageNumber%></span>
                    <span id="pageTotal"><%=pageTotal%></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>